name: Forge Tests

on: [push, pull_request]

jobs:
  forge-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: forge install

      - name: Check formatting
        run: forge fmt --check

      - name: Run forge tests
        # env:
        #   ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
        # run: forge test --fork-url "https://eth-mainnet.alchemyapi.io/v2/$ALCHEMY_API_KEY"
        run: forge test --ffi -vvv